*{
    margin: 0;
    padding: 0;
}

.white, .black{
    background-color: white;
    width: 12.5%;
    height: 4em;
}

.black{
    background-color: black;
}

body{
    display: flex;
    justify-content: center;
    background-color: rgb(121, 38, 38);
}

.tablero{
    width: 45%;
    margin-top: 3.5em;
    border: 2px black solid;
}

.line{
    display: flex;
    width: 100%; 
}

